<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quanlidichvupet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ThemHoaDonActivity"></activity>
        <activity android:name=".ThemDichVuActivity" />
        <activity android:name=".ThemPetActivity" />
        <activity android:name=".ThemKhachHangActivity" />
        <activity android:name=".ui.KHTTActivity" />
        <activity android:name=".ui.ThongKeActivity" />
        <activity android:name=".ui.HoaDonActivity" />
        <activity android:name=".ui.DichVuActivity" />
        <activity android:name=".ui.PetActivity" />
        <activity android:name=".ui.KhachHangActivity" />
        <activity android:name=".ManHinhChao">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>